@media all and (min-width: 1170px) {
        /*cities*/

        .cities-mobile {
            display: none;
    
        }
    
        .cities-desktop {
            padding: 0;
    
            position: fixed;
            margin-top: 30px;
            
            z-index: 10000;
        }
    
        .table-cities {
            width: 525px;
    
            font-size: var(--main-text-font-size-desktop);
    
            margin-top: 64px;
            
            table-layout: fixed;
        }
    
        .city {
            padding-bottom: 24px;
        }
}